<mat-sidenav-container>
  <mat-sidenav [opened]="sidenavOpen" #drawer [mode]="modeside" class="mat-sidenav">
   <app-shop-filters (updateParams)="updateParams($event)"></app-shop-filters>
  </mat-sidenav>
  <mat-sidenav-content class="mat-content">
    <div class="row toggle_div w-100">
      <button mat-mini-fab color="primary"  (click)="drawer.toggle()">
        <mat-icon fontIcon="menu" ></mat-icon>
      </button>
    
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 mt-0 pt-0" style="z-index: 1;">
      <app-card-shop *ngFor="let item of data?.result" [product]="item"></app-card-shop>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
