*{
  font-family:'IRANSans' !important;
}
.img_Styles{
margin: auto !important;
}
.col-4 , .img_Styles{
align-items: center !important;
align-self: center !important;
align-content: center !important;
}